.container {
  min-height: 600px;
  width: 100%;
  overflow: auto;
  text-align: center;
  padding: 30px 0;
}

.title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* ===================== loading spiner =================== */
.loader_container {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #00000075;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.loader_container span {
  border-color: #1188e8 #1188e8 transparent !important;
  border-width: 6px !important;
}

.card {
  width: 250px;
  margin-top: 20px;
}

.subtitle {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.itemtitle {
  font-size: 13px;
  font-weight: 700;
  margin-top: 15px;
  text-align: left;
}

.select {
  width: 200px;
  height: 35px;

  /* border: solid 3px #8FAADC; */
  padding-left: 5px;
}

.terms2 {
  font-size: 14px;
  color: white;
}

.terms {
  font-size: 14px;
  color: #00b0f0;
  margin-left: 10px;
  border-bottom: 1px solid #00b0f0;
  cursor: pointer;
}

.links {
  display: flex;
  margin: 20px 0 20px 65px;
  width: 960px;
  flex-wrap: wrap;
  gap: 21px 24px;
}

.add_btn_div {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.link {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  /* width: 200px;
    height: 40px; */
  text-decoration: underline;
  color: #36c1f3;
  font-size: 17px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.list {
  overflow: auto;
  text-align: center;
}

.tb_container {
  margin: 30px;

  /* width: max-content; */
  display: inline-block;
  width: fit-content;
}

.tb_header {
  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 100%; */
  border: black solid 1px;
}

.tb_item {
  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 100%; */
  border: black solid 1px;
  border-top: none;
}

.edit_item {
  width: 100%;
  height: 25px;
  margin: 0 5px;
  padding-left: 5px;
  font-size: 17px;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  border-left: black solid 1px;
}

.col3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  border-left: black solid 1px;
}

.col4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  border-left: black solid 1px;
}

.add_btn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: yellow;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
