/* container */
.container {
  margin: 0;
}

/* form */
.form {
  width: 100%;
  max-width: 500px;
  height: 350px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  padding: 0px 30px 0px 30px;
}

/* title */
.title {
  font-size: 25px;
  color: #333333;
  padding: 0px 0px 30px 0px;
  width: 100%;
  text-align: center;
}

.subTitle {
  color: #333;
  font-size: 20px;
}

/* login-item */
.login-item-title {
  color: #333333;
  font-size: 20px;
}

.login-item-input-container-1 {
  /* id */
  border: 1px solid #eee;
  width: 100%;
  border-radius: 15px;
  margin: 0px 0px 20px 0px;
}

.login-item-input-container-2 {
  /* password */
  position: relative;
  border: 1px solid #eee;
  border-radius: 15px;
}

.login-item-input-1 {
  border: none;
  height: 45px;
  font-size: 16px;
  width: calc(100% - 50px);
  margin-left: 10px;
}

.login-item-input-2 {
  border: none;
  height: 45px;
  font-size: 16px;
  width: calc(100% - 50px);
  margin-left: 10px;
}

/* password-reveal */
.password-reveal {
  position: absolute;
  top: 13px;
  font-size: 20px;
  border: none;
}

/* login-btn */
.login-btn-container {
  padding-top: 40px;
  text-align: center;
}

.login-btn {
  width: 100%;
  max-width: 300px;
  height: 45px;
  background: #1188e8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.background {
  margin: 0;
}

.emailText {
  border: none;
  height: 45px;
  font-size: 16px;
  width: calc(100% - 50px);
  margin-left: 10px;
}

.emailField {
  border: 1px solid #eee;
  width: 100%;
  border-radius: 15px;
  margin: 0 0 20px;
}

.PasswordText {
  border: none;
  height: 45px;
  font-size: 16px;
  width: calc(100% - 50px);
  margin-left: 10px;
}

.passwordField {
  position: relative;
  border: 1px solid #eee;
  border-radius: 15px;
}

.PasswordReveal {
  position: absolute;
  top: 13px;
  font-size: 20px;
  border: none;
}

.submitButtonField {
  padding-top: 40px;
  text-align: center;
}

.submitButton {
  width: 100%;
  max-width: 300px;
  height: 45px;
  background: #1188e8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.linkField {
  margin: 50px 0 0;
  text-align: center;
}

.link {
  border-bottom: #333 1px solid;
}
